@using System.Configuration
<!DOCTYPE html>
<html>
<head>
    <title>WebPubSub</title> 
    <script src="/Scripts/jquery.js" type="text/javascript"></script>
    <script src="/Scripts/PubSub.js" type="text/javascript"></script>
    <script src="/Scripts/WebSocket.js" type="text/javascript"></script>
    <script src="/Scripts/JSON.js" type="text/javascript"></script>
    @* Set javascript global constants *@
    @if (User.Identity.IsAuthenticated)
    {
        var userId = User.Identity.Name;
        var userName = (User.Identity as FormsIdentity).Ticket.UserData;
        <script type="text/javascript">
            var PUB_SUB_URL = "@("ws://" + Request.Url.Host + ":" + ConfigurationManager.AppSettings["PubSubPort"])";
            var USER = { id: "@userId", name: "@userName" };
        </script>  
    }
    @RenderSection("Scripts", required: false)
</head>
    <body>
        @if (User.Identity.IsAuthenticated)
        {
            <div style="border: 1px solid #999999; background-color: #dddddd; padding: 5px; margin-bottom: 30px">
                <a href="/">Home</a> |
                <a href="/Chat">Chat</a> |
                <a href="/Concurrency">Concurrency</a> |
                <a href="/Logout">Logout</a>
            </div>
        }
        @RenderBody()
    </body>
</html>
